## Visual Studio / .NET
.vs/
.vscode/
bin/
obj/
TestResults/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider
.idea/


##DBs
*.db
*.db-shm
*.db-wal


# NuGet
*.nupkg
project.lock.json
packages/

# IIS Express
/.vs/*/applicationhost.config

# Build output
/bin/
/obj/

# Publish output
/publish/


# SQLite Database
*.db
*.db-shm
*.db-wal

# VS Code
.vscode/